// Grid
@mixin col($span) {
  padding-left: $gutter;
  padding-right: $gutter;
  width: calc(100% / $grid-columns * $span);
}

// Responsive
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}