<footer class="footer py-64 py-md-32">
  <nav class="footer-nav container mb-24 d-flex align-items-center justify-content-between d-md-block">
    <a class="logo mb-md-8" href="#">URBNSTEP</a>
    <div class="fw-500 px-md-12">
      <ul class="d-flex d-md-block">
        <li class="menu-item me-40 py-12 mb-md-4"><a href="./products.html">商品列表</a></li>
        <li class="menu-item py-12"><a href="./story.html">品牌故事</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="copyright">
      <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>