<!-- Join banner -->
<div class="py-24 bg-primary-200 px-sm-12">
  <div class="d-flex justify-content-center align-items-center">
    <h2 class="h4 me-24 h5-sm me-sm-16">加入會員取得 9 折優惠</h2>
    <button type="button" class="btn filled btn-sm">馬上註冊</button>
  </div>
</div>