<nav class="container py-16 d-flex align-items-center py-sm-12">
  <a class="logo me-48" href="./index.html">URBNSTEP</a>
  <div class="fw-500">
    <ul class="d-flex d-sm-none">
      <li class="me-40 menu-item"><a href="./products.html">商品列表</a></li>
      <li class="menu-item"><a href="./story.html">品牌故事</a></li>
    </ul>
  </div>
  <a class="person-icon" href="#"><img src="../assets/images/person.svg" alt="人物圖示"></a>
</nav>