/* Breadcrumb */
.breadcrumb {
  &-list {
    font-weight: 500;
  }

  &-item {
    display: flex;
    & + .breadcrumb-item {
      &::before {
        content: "/";
        margin: 0 12px;
        font-weight: 700;
        color: $neutral-300;
      }
    }
  }

  &-link {
    color: $neutral-600;
    &:hover {
      color: $neutral-900;
    }
  }
}
