// Grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col {
  @include col(1);
}

@for $i from 2 through $grid-columns {
  .col-#{$i} {
    @include col($i)
  }
}