// Header
.logo {
  padding: 8px 12px;
  font-family: serif;
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.044rem;
  position: relative;
  z-index: 1;
  
  &::after {
    content:"";
    border: 4px solid $primary-300;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 109px;
    z-index: -1;
  }
}

.person-icon {
  margin-left: auto;
  padding: 12px;
}

.menu-item:hover {
  background-color: $neutral-900;
  color: $neutral-0;
}
