<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品收藏頁</title>
  </head>
  <body>
    <%- include("./layout/nav") %>

    <main>
      <section class="py-64 collection">
        <div class="collection-content">
          <!-- Title -->
          <div class="collection-title">
            <div class="check-wrapper me-16">
              <img class="d-block" src="../assets/images/check-lg.svg" alt="勾勾圖示">
            </div>
            <h1 class="h3 h4-md">我的收藏</h1>
          </div>
          <!-- Note -->
          <div class="note d-flex mb-32 mb-md-24">
            <img class="me-12" src="../assets/images/truck.svg" alt="卡車圖示">
            <p class="fw-500 d-md-flex flex-column-md"><span>門市營業時間：</span><span>週一至週五 10:00 - 22:00</span></p>
          </div>
          <!-- Collection list -->
          <ul class="mb-32 mb-md-24">
            <li class="collection-item mb-32 mb-md-24">
              <a class="d-flex product-link" href="#">
                <div class="collection-image">
                  <img src="../assets/images/product.png" alt="產品圖片">
                </div>
                <div class="collection-intro">
                  <h2 class="h5 mb-8 h6-md">PLATFORM 404</h2>
                  <p class="mb-8 text-md-small"><span class="text-neutral-600 me-12">尺寸</span><span class="fw-500">38</span></p>
                  <p class="mb-8 text-md-small"><span class="text-neutral-600 me-12">顏色</span><span class="fw-500">Navy</span></p>
                  <h3 class="h6 ml-auto ml-md-0">NT$2,600</h3>
                </div>
              </a>
            </li>
            <li class="collection-item mb-32 mb-md-24">
              <a class="d-flex product-link" href="#">
                <div class="collection-image">
                  <img src="../assets/images/product-4.png" alt="產品圖片">
                </div>
                <div class="collection-intro">
                  <h2 class="h5 mb-8 h6-md">BOOMLOK</h2>
                  <p class="mb-8 text-md-small"><span class="text-neutral-600 me-12">尺寸</span><span class="fw-500">38</span></p>
                  <p class="mb-8 text-md-small"><span class="text-neutral-600 me-12">顏色</span><span class="fw-500">White</span></p>
                  <h3 class="h6 ml-auto ml-md-0">NT$3,200</h3>
                </div>
              </a>
            </li>
            <li class="collection-item">
              <a class="d-flex product-link" href="#">
                <div class="collection-image">
                  <img src="../assets/images/product-3.png" alt="產品圖片">
                </div>
                <div class="collection-intro">
                  <h2 class="h5 mb-8 h6-md">MELTY KISS</h2>
                  <p class="mb-8 text-md-small"><span class="text-neutral-600 me-12">尺寸</span><span class="fw-500">38</span></p>
                  <p class="mb-8 text-md-small"><span class="text-neutral-600 me-12">顏色</span><span class="fw-500">Violet</span></p>
                  <h3 class="h6 ml-auto ml-md-0">NT$4,000</h3>
                </div>
              </a>
            </li>
          </ul>
          <div class="text-center">
            <button class="btn filled" type="button">立即預約門市試穿</button>
          </div>
        </div>
      </section>
    </main>

    <%- include("./layout/footer") %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
