<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>產品列表頁</title>
</head>
<body>
  <!-- Navbar -->
  <%- include("./layout/nav") %>
  <main class="container py-32 py-sm-16">
    <!-- Breadcrumb -->
    <nav class="mb-24 mb-md-12">
      <div class="breadcrumb-list">
        <ol class="d-flex">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="./index.html">首頁</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="./products.html">女鞋</a></li>
          <li class="breadcrumb-item">所有商品</li>
        </ol>
      </div>
    </nav>
    <h1 class="h3 mb-24 py-7 mb-md-12 py-md-10 h4-md">女鞋</h1>
    <div class="row">
      <!-- Category -->
      <nav class="col-2 d-md-none">
        <ul class="pe-24 category-list">
          <li class="mb-16 py-12 active"><a href="./products.html">所有商品</a></li>
          <li class="mb-16 py-12"><a href="#">慢跑鞋</a></li>
          <li class="mb-16 py-12"><a href="#">滑板鞋</a></li>
          <li class="mb-16 py-12"><a href="#">厚底鞋</a></li>
          <li class="py-12"><a href="#">限定 / 聯名企劃</a></li>
        </ul>
      </nav>
      <!-- Product-list -->
      <div class="col-10 col-md-12">
        <ul class="row mb-48 card-list products-row mb-md-32">
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2>
              <p class="fw-500">NT$2,600</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-1.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2>
              <p class="fw-500">NT$2,600</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-2.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">VM001</h2>
              <p class="fw-500">NT$2,600</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-3.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">Melty Kiss</h2>
              <p class="fw-500">NT$4,000</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-4.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
              <p class="fw-500">NT$3,200</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-5.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
              <p class="fw-500">NT$3,200</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-6.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">R:UNER</h2>
              <p class="fw-500">NT$4,000</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-7.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">Sugar Snap</h2>
              <p class="fw-500">NT$4,000</p>
            </a>
          </li>
          <li class="col-4 product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-8.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">Neofoam</h2>
              <p class="fw-500">NT$4,000</p>
            </a>
          </li>
          <li class="col-4 d-none d-md-block product-col-md-6">
            <a class="product-link" href="./product.html">
              <img class="mb-12 mb-md-8" src="../assets/images/product-9.png" alt="產品圖片">
              <h2 class="h6 mb-4 mb-md-0">Buttermood</h2>
              <p class="fw-500">NT$4,000</p>
            </a>
          </li>
        </ul>
        <ul class="pagination d-flex justify-content-center align-items-center">
          <li class="page-icon disabled me-12">
            <button type="button">
              <img src="../assets/images/chevron-left.svg" alt="上一頁圖示">
            </button>
          </li>
          <li class="page active me-8">
            <button type="button">1</button>
          </li>
          <li class="page me-8">
            <button type="button">2</button>
          </li>
          <li class="page me-8">
            <button type="button">3</button>
          </li>
          <li class="page page-dots me-8">...</li>
          <li class="page me-12">
            <button type="button">10</button>
          </li>
          <li class="page-icon">
            <button type="button" class="chevron-right">
              <img src="../assets/images/chevron-right.svg" alt="下一頁圖示">
            </button>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <!-- Join banner -->
  <div class="pt-48 pt-md-24">
    <%- include("./layout/join-banner") %>
  </div>
  <!-- Footer -->
  <%- include("./layout/footer") %>
  <script type="module" src="../main.js"></script>
</body>
</html>