<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>使用者註冊頁</title>
  </head>
  <body>
    <%- include("./layout/nav") %>

    <main class="py-64 p-0-md">
      <section class="container p-0-md">
        <div class="row flex-column-md mx-0-md">
          <div class="col-5 col-md-12 p-0-md">
            <div class="entry-image"></div>
          </div>
          <div class="col-7 col-md-12">
            <div class="entry">
              <div class="entry-form">
                <h1 class="h3 text-center mb-32 h4-md mb-md-24">歡迎！</h1>
                <div class="d-flex mb-32 mb-md-24">
                  <a href="./login.html" class="h6 flex-1 btn-underline">登入</a>
                  <a href="./register.html" class="h6 flex-1 btn-underline active">註冊</a>
                </div>
                <a href="#" class="entry-link mb-8"><img class="me-12" src="../assets/images/facebook.svg" alt="Facebook 圖示">Facebook 註冊</a>
                <a href="#" class="entry-link mb-8"><img class="me-12" src="../assets/images/apple.svg" alt="Apple 圖示">Apple 註冊</a>
                <a href="#" class="entry-link"><img class="me-12" src="../assets/images/google.svg" alt="Google 圖示">Google 註冊</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("./layout/footer") %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
